.App {
  text-align: center;
}

.about-section {
  height: 33vh;
  margin-top: 50px;
  text-align: left;
  margin-left: 5vh;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.about-section > p {
  padding-left: 20px;
}

.project-section {
  height: 45vh;
  background-color: rgb(251, 250, 252);
  justify-content: center;
}

.contact-section {
  height: 45vh;
}
