.App {
  text-align: center;
}

.about-section {
  margin-top: 40px;
  text-align: left;
  padding: 8vh 5vh;
  background-color: rgb(255, 255, 255);
}

.project-section {
  text-align: left;
  padding: 5vh 5vh;
  background-color: rgb(251, 250, 252);
}

.projects {
  padding: 5vh 5vh;
}

.contact-section {
  padding: 1vh 1vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-section {
    margin-top: 20px;
    text-align: left;
    padding: 8vh 3vh;
    background-color: rgb(255, 255, 255);
  }

  .about-background {
    text-align: center;
  }

  .project-section {
    text-align: left;
    padding: 0px;
    width: 100%;
    background-color: rgb(251, 250, 252);
  }

  .project-col > ul {
    width: 41vh;
    padding: 5% 5%;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (min-width: 600px) {
  .about-section {
    margin-top: 20px;
    text-align: left;
    padding: 8vh 1vh;
    background-color: rgb(255, 255, 255);
  }
  
  .project-section {
    text-align: left;
    padding: 0vh 2vh;
    background-color: rgb(251, 250, 252);
  }
  
  .projects {
  }
} */
